<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      section {
        padding: 0 20px;
      }
      img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }
      .container {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    </style>
  </head>

  <body>
    <section>
      <div class="container">
        <img src="<%= appLogo?.value %>" alt="logo" />
      </div>
      <div>
        <h4>Dear <%= data.student.name %>,</h4>
        <p>
          We noticed that your payment for
          <strong><%= data.lecture.title%></strong>
          is still pending. Please confirm your payment details or provide the
          correct proof of payment so we can proceed with your enrollment. Let
          us know if you need any assistance.
        </p>
      </div>
      <div>
        <h4>Course Name - <%= data.lecture.title %></h4>
        <h4>Price - <%= data.purchase.total_price.toLocaleString() %> MMK</h4>
        <h4>Course outlines</h4>
        <ul>
          <% data.lecture?.Lesson.map(item => { %>
          <li><%= item.title %></li>
          <% }) %>
        </ul>
      </div>
      <div>
        <small
          >Thank you for your purchasement and hope you to seize your
          succeed.</small
        >
      </div>
    </section>
  </body>
</html>
